# =========================
# MYSQL
# =========================
MYSQL_DATABASE=innovatech_db
MYSQL_ROOT_PASSWORD=root123
MYSQL_ROOT_HOST=%
MYSQL_USER=innovatech
MYSQL_PASSWORD=innovatech123

# =========================
# BACKEND
# =========================
DB_ENDPOINT=mysql-db
DB_PORT=3306
DB_NAME=innovatech_db
DB_USERNAME=innovatech
DB_PASSWORD=innovatech123


# =========================
# FRONTEND
# =========================
FRONTEND_PORT=80
VENTAS_BACKEND_PORT=8080
DESPACHOS_BACKEND_PORT=8081
